<!-- Toolbar -->
<!-- <div class="container">
  <div class="toolbar px-4" role="banner">
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-md-1"></div>
          <div class="col-md-9">
           <input type="text" class="form-control" style="background-color: #f8f9fa;;" placeholder="Search..."  />
          </div>
          <div class="col-md-2 p-0">
          <button routerLink="/notesform" class="btn btn-submit d-flex"><mat-icon>add</mat-icon>Add</button>&nbsp;
        </div>
        
      </div>
      </div>
  </div>
</div> -->
<router-outlet></router-outlet>
<!-- <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Dhanraj Design. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-right">
        <div class="siteFooter__secondary__col siteFooter__secondary__col--social d-flex">
          <div aria-describedby="https://twitter.com/intent/follow?screen_name=asana" class="css-yuiwnc e1huxitw0"><a
              href="https://twitter.com/intent/follow?screen_name=asana" target="_blank" rel="noopener noreferrer"
              class="css-lfrbhm e1dfgc0i0"><svg width="17" height="17" viewBox="0 0 17 17"
                xmlns="http://www.w3.org/2000/svg" role="graphics-symbol" aria-labelledby="twitter-title-id"
                aria-hidden="false">
                <title id="twitter-title-id">Twitter</title>
                <path
                  d="m9.51904,7.34694l5.24621,-5.97185l-1.24275,0l-4.5572,5.18421l-3.63712,-5.18421l-4.19603,0l5.50124,7.84019l-5.50124,6.26163l1.24275,0l4.80942,-5.47588l3.8419,5.47588l4.19603,0m-12.39881,-13.18409l1.90921,0l8.78893,12.31145l-1.90968,0">
                </path>
              </svg></a>
            <div role="label" id="https://twitter.com/intent/follow?screen_name=asana" class="css-340j79-p3 e1huxitw1">
              </div>
          </div>&nbsp; &nbsp;
          <div aria-describedby="https://www.linkedin.com/company/asana" class="css-yuiwnc e1huxitw0"><a
              href="https://www.linkedin.com/company/asana" target="_blank" rel="noopener noreferrer"
              class="css-lfrbhm e1dfgc0i0"><svg width="17" height="17" viewBox="0 0 17 17"
                xmlns="http://www.w3.org/2000/svg" role="graphics-symbol" aria-labelledby="linkedin-title-id"
                aria-hidden="false">
                <title id="linkedin-title-id">Linkedin</title>
                <path
                  d="M4.63 14.784H1.858V5.913H4.63v8.871Zm-1.456-9.98h-.02c-1.003 0-1.654-.68-1.654-1.538 0-.876.67-1.54 1.694-1.54 1.022 0 1.651.662 1.671 1.537 0 .86-.65 1.54-1.691 1.54Zm12.548 9.98H12.58v-4.59c0-1.202-.49-2.021-1.573-2.021-.828 0-1.287.553-1.5 1.086-.08.19-.069.458-.069.725v4.8H6.323s.04-8.132 0-8.871h3.114v1.392c.184-.609 1.18-1.478 2.768-1.478 1.97 0 3.517 1.276 3.517 4.024v4.933Z">
                </path>
              </svg></a>
            <div role="label" id="https://www.linkedin.com/company/asana" class="css-340j79-p3 e1huxitw1"></div>
          </div>&nbsp; &nbsp;
          <div aria-describedby="https://www.instagram.com/asana/" class="css-yuiwnc e1huxitw0"><a
              href="https://www.instagram.com/asana/" target="_blank" rel="noopener noreferrer"
              class="css-lfrbhm e1dfgc0i0"><svg width="17" height="17" viewBox="0 0 17 17"
                xmlns="http://www.w3.org/2000/svg" role="graphics-symbol" aria-labelledby="instagram-title-id"
                aria-hidden="false">
                <title id="instagram-title-id">Instagram</title>
                <path
                  d="M8.5 3.007c1.898 0 2.124.007 2.874.042 1.927.088 2.827 1.002 2.915 2.915.034.75.04.975.04 2.873 0 1.9-.006 2.124-.04 2.874-.088 1.91-.986 2.827-2.915 2.915-.75.034-.974.041-2.874.041-1.899 0-2.124-.007-2.874-.041-1.932-.089-2.827-1.007-2.915-2.916-.034-.75-.041-.974-.041-2.873 0-1.899.008-2.124.041-2.874.089-1.912.986-2.827 2.915-2.915.75-.034.975-.04 2.874-.04Zm0-1.281c-1.931 0-2.173.008-2.932.042-2.582.119-4.018 1.552-4.136 4.137-.035.759-.043 1-.043 2.932 0 1.931.008 2.173.042 2.932.119 2.582 1.552 4.018 4.137 4.136.759.035 1 .043 2.932.043 1.931 0 2.173-.008 2.932-.043 2.58-.118 4.019-1.551 4.136-4.136.035-.759.043-1.001.043-2.932 0-1.932-.008-2.173-.043-2.932-.116-2.58-1.55-4.018-4.136-4.136-.759-.035-1.001-.043-2.932-.043Zm0 3.46a3.652 3.652 0 1 0 0 7.303 3.652 3.652 0 0 0 0-7.304Zm0 6.021a2.37 2.37 0 1 1 0-4.74 2.37 2.37 0 0 1 0 4.74Zm3.796-7.02a.854.854 0 1 0 0 1.708.854.854 0 0 0 0-1.707Z">
                </path>
              </svg></a>
            <div role="label" id="https://www.instagram.com/asana/" class="css-340j79-p3 e1huxitw1"></div>
          </div> &nbsp; &nbsp;
          <div aria-describedby="https://www.facebook.com/asana" class="css-yuiwnc e1huxitw0"><a
              href="https://www.facebook.com/asana" target="_blank" rel="noopener noreferrer"
              class="css-lfrbhm e1dfgc0i0"><svg width="17" height="17" viewBox="0 0 17 17"
                xmlns="http://www.w3.org/2000/svg" role="graphics-symbol" aria-labelledby="facebook-title-id"
                aria-hidden="false">
                <title id="facebook-title-id">Facebook</title>
                <path
                  d="m11.405 6.429-.163 2.128H9.06v7.39H6.304v-7.39H4.833V6.429h1.47v-1.43c0-.63.016-1.6.474-2.202.482-.64 1.145-1.071 2.283-1.071 1.854 0 2.635.264 2.635.264l-.367 2.179s-.613-.178-1.184-.178c-.572 0-1.084.205-1.084.777v1.66h2.345Z">
                </path>
              </svg></a>
            <div role="label" id="https://www.facebook.com/asana" class="css-340j79-p3 e1huxitw1"></div>
          </div> &nbsp; &nbsp;
          <div aria-describedby="https://www.youtube.com/channel/UC2BoogM0AqwOJyoSp1S4ClQ" class="css-yuiwnc e1huxitw0">
            <a href="https://www.youtube.com/channel/UC2BoogM0AqwOJyoSp1S4ClQ" target="_blank" rel="noopener noreferrer"
              class="css-lfrbhm e1dfgc0i0"><svg width="17" height="17" viewBox="0 0 17 17"
                xmlns="http://www.w3.org/2000/svg" role="graphics-symbol" aria-labelledby="youtube-title-id"
                aria-hidden="false">
                <title id="youtube-title-id">Youtube</title>
                <path
                  d="M8.495 3.503s-4.764 0-5.96.311A1.97 1.97 0 0 0 1.19 5.17C.879 6.365.879 8.84.879 8.84s0 2.486.31 3.663a1.94 1.94 0 0 0 1.347 1.346c1.205.32 5.96.32 5.96.32s4.772 0 5.968-.31a1.894 1.894 0 0 0 1.337-1.347c.32-1.186.32-3.662.32-3.662s.01-2.486-.32-3.681a1.882 1.882 0 0 0-1.337-1.337c-1.196-.33-5.969-.33-5.969-.33ZM6.98 6.553l3.964 2.288-3.964 2.279V6.554Z">
                </path>
              </svg></a>
            <div role="label" id="https://www.youtube.com/channel/UC2BoogM0AqwOJyoSp1S4ClQ"
              class="css-340j79-p3 e1huxitw1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->